<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Categorie - Politique</title>
			<link rel='Stylesheet' href='../static/stylesheet.css'/>
		</head>
		
		<body>
			
			<header>
				<div id='menu_top'>
					<span id='titre'>Once a Day</span>
					<table id='login'>
						<tr>
							<td>Rodolphe Basse</td>
							<td>Logout</td>
						</tr>
					</table>
				</div>
			</header>
			
			<div id='corps_categorie'>
				<h1>Politique</h1>
				<h2>Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
					les publications de nos chroniqueurs....</h2>
				
				<table id='threads_categorie'>
					<tr class='ligne_titre'>
						<th>Last</th>
						<th>Next</th>
						<th>Auteur</th>
						<th width='400px'>Thread</th>
						<th>Abonnés</th>
					</tr>
					<tr class='ligne_impaire'>
						<td>hier</td>
						<td>5 min</td>
						<td>Enkidou</td>
						<td>Les Chroniques de la Téranga</td>
						<td>200</td>
					</tr>
					<tr>
						<td>hier</td>
						<td>10 min</td>
						<td>GIMB</td>
						<td>Les statistiques en une phrase</td>
						<td>700</td>
					</tr>
					<tr class='ligne_impaire'>
						<td>hier</td>
						<td>15 min</td>
						<td>Kilou</td>
						<td>L'équitation pour les hommes</td>
						<td>300</td>
					</tr>
					<tr>
						<td>hier</td>
						<td>20 min</td>
						<td>Aziz reporter</td>
						<td>Dakar Gossip</td>
						<td>1100</td>
					</tr>
				</table>
			</div>
			
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			
		</body>
	</html>