/********** Mise en place des prérequis **********/

@font-face
{
	font-family:'Oswald';
	src: url('fonts/Oswald-Regular.otf');
}


@font-face
{
	font-family:'BebasNeue';
	src: url('fonts/BebasNeue.otf');
}




body
{
	font-family:gill sans;
	font-weight:300;
	padding:0px;
	margin:0px;
}


a
{
	text-decoration:none;
	color:white;
}



.separation
{
	height:50px;
	width:10px;
}


.cache
{
	display:none;
}


.visible
{
	display:block;
}


.bouton_allume
{
	background:rgba(200,14,31,1);
}

.bouton_eteint
{
	background:rgba(200,14,31,.5);
}


/********** Mise en place du design du Menu ***********/

#menu_top
{
	display:block;
	position:relative;
	height: 50px;
	border:1px solid black;
	margin:0px;
	background:rgb(36,36,36);
	color:white;
}


#titre
{
	font-family:courier;
	color:white;
	font-size:28px;
	font-weight:500;
	text-transform:uppercase;
}


#login
{
	position:relative;
	float:right;
	
}


#searchForm fieldset {
    width:240px;
    position:relative;
    display:block;
}

div.input {
    width:120px;
    padding:5px 15px 7px 15px;
    border-radius:20px;
    border:1px solid #c6d2db;
    border-top:1px solid #b4c1cb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    float:right;
    background:white;
}

    div.input.focus {
        border:1px solid #9ecbe2;
        box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);
    }

input#s {
    width:100%;
    border:0;
    border-radius:20px;
    background:transparent;
    height:16px;
    color:black;
    text-shadow:0 1px 1px #fff;
}

    input#s:focus {
        outline:none
    }

input#searchSubmit {
    width:19px;
    height:19px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(img/search-icon.png) no-repeat;
    border:0;
    position:absolute;
    top:12px; right:20px;
    z-index:5;
    display:none;
    cursor:pointer;
}



/*********** Mise en page du design du footer **********/

footer
{
	position:relative;
	height:50px;
	bottom:0px;
	padding-top:5px;
	background:rgb(36,36,36);
	color:white;
	text-align:center;
}






/*********** Mise en page de l'ACCUEIL **********/

h1
{
	position:relative;
	font-family:courier;
	display: block;
	margin-top:100px;
	text-align:center;
	font-weight:400;
	font-size:90px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}


h2
{
	position:relative;
	font-family:courier;
	display: block;
	margin-top:-30px;
	text-align:center;
	font-weight:400;
	font-size:20px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;
}


#categories
{
	display:block;
	width:1000px;
	text-align:center;
	margin:auto;
	position:relative;
	margin-top:50px;
	margin-bottom:50px;
}


#categories td
{
	width:200px;
	padding:20px;
}


.box_categorie
{
	cursor:pointer;
	border-radius:5px;
	padding:20px 10px 20px 10px;
	height:140px;
	overflow:hidden;
}


.box_categorie:hover
{
	cursor:pointer;
	border:2px solid grey;
	border-radius:5px;
	padding:20px 10px 20px 10px;
	margin:-4px;
}


.box_categorie span
{
	display:block;
	font-size:18px;
	font-weight:400;
	margin-bottom:10px;
	font-family:courier;
}




/*********** Mise en page de la page CATEGORIE **********/


#corps_categorie
{
	min-height:480px;
}


#corps_categorie h2
{
	position:relative;
	font-family:courier;
	display: block;
	width:800px;
	margin:auto;
	margin-top:-30px;
	text-align:center;
	font-weight:400;
	font-size:20px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;
}


#threads_categorie
{
	position:relative;
	margin:auto;
	display:block;
	width:800px;
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
	border-collapse:collapse;
}


#threads_categorie td
{
	width:100px;
	height:25px;
}


.ligne_titre
{
	background:rgba(0,0,0,.2);
}


th
{
	font-weight:400;
	font-style:italic;
	height:30px;
}


.ligne_impaire
{
	background: rgba(0,0,0,.1);
}
	
	
	

/*********** Mise en page de la page CONTENU **********/

/*
#corps_contenu
{
	min-height:600px;
}
*/

#corps_contenu h1
{
	position:relative;
	font-family:courier;
	display: block;
	top:50px;
	margin-bottom:-100px;
	text-align:center;
	font-weight:400;
	font-size:30px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;
}


#corps_contenu h2
{
	position:relative;
	font-family:courier;
	display: inline-block;
	margin:auto;
	top:250px;
	text-align:left;
	font-weight:400;
	font-size:24px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;
}


#corps_contenu h3
{
	position:relative;
	font-family:courier;
	display: block;
	width:600px;
	margin:auto;
	margin-bottom:-100px;
	top:250px;
	text-align:right;
	font-weight:400;
	font-size:20px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 2px 2px #def, 0 0 0 #000, 1px 2px 2px #def;
}


#add_favs
{
	position:relative;
  display:inline-block;
  top:5px;
}





/*********** Mise en page de la page LOGIN **********/


#corps_login
{
	min-height:470px;
}


#corps_login h1
{
	position:relative;
	font-family:courier;
	display: block;
	margin-top:100px;
	text-align:center;
	font-weight:400;
	font-size:50px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}



#corps_login table
{
	text-align:center;
	display:block;
	width:400px;
	margin:auto;
}


#corps_login table td
{
	width:200px;
	height:25px;
	text-align:center;
}

.gros_bouton
{
	width:160px;
	height:35px;
	text-align:center;
	padding-top:10px;
	background:rgba(200,14,31,.5);
	border-radius:5px;
	color:white;
	margin:auto;
	cursor:pointer;
}


.petit_bouton
{
	width:100px;
	height:25px;
	padding:0px 5px 0px 5px;
	text-align:center;
	background:rgba(200,14,31,1);
	border-radius:2px;
	font-size:12px;
	color:white;
	margin:auto;
	cursor:pointer;
	text-decoration:none;
}
	


#connexion, #creer_compte
{
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	border:2px outset rgba(200,14,31,.3);
	border-radius:5px;
}


#creer_compte
{
	padding-bottom:20px;
	border:2px outset rgba(200,14,31,.3);
	border-radius:5px;
}





/*********** Mise en page de la page USER ACCOUNT **********/

#corps_user_account
{
	min-height:470px;
}


#corps_user_account h1
{
	position:relative;
	font-family:courier;
	display: block;
	margin-top:100px;
	text-align:center;
	font-weight:400;
	font-size:50px;
	color:rgba(180,180,180,0.6);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}


#menu_user_account
{
	text-align:center;
	display:block;
	width:600px;
	margin:auto;
}	


#menu_user_account td
{
	width:200px;
}	



#table_favoris
{
	position:relative;
	margin:auto;
	display:block;
	width:800px;
	text-align:center;
	margin-top:50px;
	border-collapse:collapse;
}


#table_favoris td
{
	width:100px;
	height:25px;
}


#gestion_thread
{
	width:1000px;
	margin:auto;
	display:block;
	margin-top:30px;
}


#gestion_thread h3
{
	font-family:courier;
}


#gestion_thread_gauche
{
	width:500px;
	display:inline-block;
	text-align:center;
}


#gestion_thread_droit
{
	width:450px;
	vertical-align:top;
	display:inline-block;
}


#next_up 
{
	text-align:center;
	height:110px;
}




#pending_items table
{
	display:inline-block;
	width:450px;
	margin-left:0px;
	text-align:center;
	border-collapse:collapse;
}
	

#settings
{
	padding-top:30px;
	display:block;
	width:500px;
	margin:auto;
	text-align:center;
}

