<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Page d'Accueil</title>
			<link rel='Stylesheet' href='../static/stylesheet.css'/>
		</head>
		
		<body>
			
			<header>
				<div id='menu_top'>
					<span id='titre'>Once a Day</span>
					<table id='login'>
						<tr>
							<td>Rodolphe Basse</td>
							<td>Logout</td>
						</tr>
					</table>
				</div>
			</header>
			
			<div id='corps_accueil'>
				<h1>Once a Day</h1>
				<h2>Votre information favorite, en une phrase, en une fois...</h2>
				
				<table id='categories'>
					<tr>
						<td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td>
						<td>
							<div class='box_categorie'>
								<span>Economie</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td>
						<td>
							<div class='box_categorie'>
								<span>Sport</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td>
						<td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td><td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td><td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td><td>
							<div class='box_categorie'>
								<span>Politique</span>
								Vous êtes passionné de politique, cette rubrique est faite pour vous, vous y retrouverez 
								les publications de nos chroniqueurs....
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			
		</body>
	</html>