{% extends "layout.html" %}
{% block body %}
  <h2>Add Content</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{%
  endif %}
  {% if session.logged_in %}
  <form action="{{ url_for('add_content') }}" method=post>
    <dl>
        
      <dt> Content:
      <dd><input type=text name=content>

      <dd><input type=submit value=send>
    </dl>
  </form>
  {% else %}
  Not logged in
  {% endif %}

<div>
  <h3> Next Up </h3>
  {% if nextup is none %}
  {{nextup.content}}
  {% else %}
  No next up
  {% endif %}
</div>

<div>
  <h3> Pending Items </h3>
  <ul>
  {% for entry in entries %}
    <li> <input type=checkbox id={{entry.id}}> {{entry.content}} </li>
  {% else %}
    <li> No entries
  {% endfor %}
  </ul>
</div>

{% endblock %}
