<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Categorie - Politique</title>
			<link rel='Stylesheet' href='../static/stylesheet.css'/>
		</head>
		
		<body>

	          {% include 'header.html' %}
			<div id='corps_contenu'>

                          {% if nextup is none %}
                          Nothing's up today!
                          {% else %}
                          <h2 id='contenu'>"{{nextup.content}}"</h2>
                          <br/>
                          <h3 id='auteur'>{{auteur.first_name}} {{auteur.last_name}}</h3>
                          {% endif %}
                          

			</div>
			
                        <div> 	<a href="{{url_for('add_favorite')}}/{{threads_id}}"
                        class='petit_bouton'>Add to favorites</a> </div>
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			
			<script src="../static/jquery.js"></script>
			<script src="../static/mon_jquery.js"></script>
			
			<script>
				$(document).ready(
					function()
					{
						//===== Dimensionnement du div contenu =====//
						var texte = $('#contenu').html();
						var delay = texte.length*50+1000;
						var auteur = $('#auteur').html();
						var container = document.getElementById('contenu');
						var container_auteur = document.getElementById('auteur');
					
						var largeur = $('#contenu').width();
						
						if(largeur<=800)
						{
							$('#contenu').css('width',largeur);
							$('#contenu').css('display','block');
						}
						else
						{
							$('#contenu').css('width','800');
							$('#contenu').css('display','block');
						}
					
					
					
						//===== Mise en place de l'affichage lettre par lettre =====//
						$('#auteur').html('');
						$('#contenu').html('');
						for(var i=0, l=texte.length; i<=l; i++)
						{
							(function(i)
							{
							setTimeout(
								function() {
									container.innerHTML += texte.charAt(i);
						  		},i*50);
							}(i));
						}
						
						setTimeout(
						function()
						{
							for(var i=0, l=auteur.length; i<=l; i++)
							{
								(function(i)
								{
								setTimeout(
									function(){
										container_auteur.innerHTML += auteur.charAt(i);
									},i*50);
								}(i));
							}
						},delay)
					})
			</script>
			
			
		</body>
	</html>
