<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Categorie - Politique</title>
			<link rel='Stylesheet' href='../static/stylesheet.css'/>
		</head>
		
		<body>
			
			<header>
				<div id='menu_top'>
					<span id='titre'>Once a Day</span>
					<table id='login'>
						<tr>
							<td>Rodolphe Basse</td>
							<td>Logout</td>
						</tr>
					</table>
				</div>
			</header>
			
			<div id='corps_contenu'>
				<h2>"Those who know.. Know!!"</h2>
				<br/>
				<h3>GIMB</h3>
			</div>
			
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			
		</body>
	</html>