{% extends "layout.html" %}
{% block body %}
  <h2>Add Operator</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{%
  endif %}
  <form action="{{ url_for('create_account') }}" method=post>
    <dl>
      <dt>First Name:
      <dd><input type=text name=first_name>
      
      <dt>Last Name:
      <dd><input type=text name=last_name>
       
      <dt>Email:
      <dd><input type=text name=email>
        
      <dt>Password:
      <dd><input type=text name=password>

      <dd><input type=submit value=send>
    </dl>
  </form>
{% endblock %}
