<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Categorie - Politique</title>
			<link rel='Stylesheet' href='../static/stylesheet.css'/>
		</head>
		
		<body>
			
			<header>
				<div id='menu_top'>
					<span id='titre'>Once a Day</span>
					<table id='login'>
						<tr>
							<td>Rodolphe Basse</td>
							<td>Logout</td>
						</tr>
					</table>
				</div>
			</header>
			
			<div id='corps_login'>
				<h1>Mon compte</h1>
				<br/>
				<table>
					<tr>
						<td><div class='gros_bouton' id='bouton_connexion'>Connexion</div></td>
						<td><div class='gros_bouton' id='bouton_creer_compte'>Création de Compte</div></td>
					</tr>
					<tr>
						<td colspan='2'>
							<div id='connexion' class='cache'>
								<form>
									<table>
										<tr>
											<td>Email : </td>
											<td><input type='text' name='email' placeholder='example@gmail.com'/></td>
										</tr>
										<tr>
											<td>Mot de passe : </td>
											<td><input type='password' name='password'/></td>
										</tr>
										<tr>
											<td colspan='2'><input type='submit' value='Valider'/></td>
										</tr>
									</table>
								</form>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan='2'>
							<div id='creer_compte' class='cache'>
								<form>
									<table>
										<tr>
											<td>Nom : </td>
											<td><input type='text' name='email' placeholder='Aziz'/></td>
										</tr>
										<tr>
											<td>Prénom : </td>
											<td><input type='text' name='email' placeholder='Reporter'/></td>
										</tr>
										<tr>
											<td>Email : </td>
											<td><input type='text' name='email' placeholder='example@gmail.com'/></td>
										</tr>
										<tr>
											<td>Mot de passe : </td>
											<td><input type='password' name='password'/></td>
										</tr>
										<tr>
											<td colspan='2'><input type='submit' value='Créer'/></td>
										</tr>
									</table>
								</form>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
			<script src="../static/mon_jquery.js"></script>
			
			
		</body>
	</html>