<!DOCTYPE html>
	<html>
		<head>
			<meta charset='UTF-8'/>
			<title>Categorie - Politique</title>
            <link rel='Stylesheet' href="{{url_for('static', filename='stylesheet.css') }}"/>
		</head>
		
		<body>
                  {% include 'header.html' %}

			<div id='corps_login' class='corps'>
				<h1>Mon compte</h1>
				<br/>
				<table>
					<tr>
						<td><div class='gros_bouton bouton_allume' id='bouton_connexion'>Connexion</div></td>
						<td><div class='gros_bouton' id='bouton_creer_compte'>Création de Compte</div></td>
					</tr>
					<tr>
						<td colspan='2'>
							<div id='connexion' class='visible'>
								<form action="{{ url_for('process_login') }}" method=post>
									<table>
										<tr>
											<td>Email : </td>
											<td><input type='text' name=email placeholder='example@gmail.com'/></td>
										</tr>
										<tr>
											<td>Mot de passe : </td>
											<td><input type='password' name=password></td>
										</tr>
										<tr>
											<td colspan='2'><input type='submit' value='Valider'/></td>
										</tr>
									</table>
								</form>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan='2'>
							<div id='creer_compte' class='cache'>
								<form action="{{ url_for('process_create_account') }}" method=post>
									<table>
										<tr>
											<td>Prénom : </td>
											<td><input type='text' name=first_name placeholder='Aziz'/></td>
										</tr>
										<tr>
											<td>Nom : </td>
											<td><input type='text' name=last_name placeholder='Reporter'/></td>
										</tr>
										<tr>
											<td>Email : </td>
											<td><input type='text' name='email' placeholder='example@gmail.com'/></td>
										</tr>
										<tr>
											<td>Mot de passe : </td>
											<td><input type='password' name='password'/></td>
										</tr>
										<tr>
											<td colspan='2'><input type='submit' value='Créer'/></td>
										</tr>
									</table>
								</form>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			
			<footer>
				<div id='bottom_bar'>
					<p>Powered by : Gangsta-Business Inc.</p>
				</div>
			</footer>
			
			<script src="../static/jquery.js"></script>
			<script src="../static/mon_jquery.js"></script>
			
			
		</body>
	</html>
